.drugs {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   padding: 15px;
   border: 1px solid black;
   border-radius: 15px;
}

.clocks {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.clock {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   border: 1px solid black;
   border-radius: 15px;
   padding: 10px;
   margin: 0 15px 15px 0;
}

.image {
   width: 200px;
}

.favorite_button {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   top: 5px;
   right: 5px;
   z-index: 3;
   border: 1px solid #000000;
   border-radius: 7px;
   width: 30px;
   height: 30px;
   transition: 0.3s;
}

.favorite_button:hover {
   background-color: red;
}
.isFavorite svg g {
   fill: red;
}

.isNotFavorite svg g {
   fill: black;
}

.svg {
   max-width: 15px;
   max-height: 15px;
}
