.form {
   background-color: grey;
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
   padding: 10px;
   max-width: 444px;
}
.form_wrapper {
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
}

.form_text {
}

.form_inputs {
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
}
.form_email {
   margin-right: 10px;
}
.form_password {
}
.form_footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.form_button {
   cursor: pointer;
}
