.button {
   width: 150px;
   border: 1px solid black;
   cursor: pointer;
   transition: 0.3s;
   background: none;
   border-radius: 5px;
}

.button:hover {
   border: 1px solid rgb(98, 98, 98);
   background-color: rgb(117, 117, 213);
   color: white;
}
